.matkort {
  background-color: var(--accent-bg);
  width: 30em;
  height: 18rem;
  border-radius: 1rem;
  align-self: center;
  margin: 1rem;
  padding: 1rem;
  border: solid var(--accent);
  box-shadow: 0 0px 30px var(--accent);
  & p {
    color: cornsilk;
  }
}

#food-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
